.footer__column-link {

  list-style-type: none;
  color: white;
  text-decoration: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-link:hover {

  opacity: 70%;
  transition: 0.3s ease-out;
  text-decoration: underline;
}
