  @-webkit-keyframes rotation {
    0% {-moz-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);
        transform:rotate(360deg);}
}

.header__square-pic, .kaufman__triangle {

  margin-top:20px;
  width: 200px;
  -moz-animation-name: rotation;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
